head
  title Final Fantasy - Le site des fans fran&ccedil;ais
  link(rel='icon' type='image/x-icon' href='public/favicon.ico')
body
  p Ce site a malheuresement ferm&eacute; ses portes :(
  p Vous pouvez me contacter sur Discord pour plus d&apos;infos : Sephizack#5371
  audio(controls='' autoplay='' loop='')
    source(src='http://www.final-fantasy.fr/public/prelude.ogg' type='audio/ogg')
    source(src='http://www.final-fantasy.fr/public/prelude.mp3' type='audio/mpeg')
    | Your browser does not support the audio element.
  p Screenshots du site:
  br
  hr
  img(src='http://www.final-fantasy.fr/public/ff.jpg' style='width:100%;height:auto')
  br
  hr
  img(src='http://www.final-fantasy.fr/public/ff2.jpg' style='width:100%;height:auto')
  br
  hr
  img(src='http://www.final-fantasy.fr/public/ff3.jpg' style='width:100%;height:auto')
  br
  hr
  img(src='http://www.final-fantasy.fr/public/ff4.jpg' style='width:100%;height:auto')
  br
  hr
  img(src='http://www.final-fantasy.fr/public/ff5.jpg' style='width:100%;height:auto')

